<header class="fixed top-0 left-0 w-full bg-white shadow z-50">
  <nav class="mx-auto flex items-center py-4 px-6">
    <!-- Logo -->
    <a href="#" class="text-2xl font-bold text-blue-600"></a>

    <!-- Menu -->
    <ul class="flex space-x-6">
      <li><a href="#about" class="hover:text-blue-600">Home</a></li>
      <li><a href="#about" class="hover:text-blue-600">About</a></li>
      <li><a href="#projects" class="hover:text-blue-600">Projects</a></li>
      <li><a href="#skills" class="hover:text-blue-600">Skills</a></li>
      <li><a href="#contact" class="hover:text-blue-600">Contact</a></li>
      <li><a href="assets/Rohit Singla| Full Stack Developer.pdf" download class="hover:text-blue-600">Resume</a></li>
    </ul>
  </nav>
</header>
